<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
    <link rel="stylesheet" href="{{ url_for('customer_bp.static', filename='styles.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <h1>Welcome to BoxOffice</h1>
        </div>
    </header>
    
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <ul>
                <li><a href="{{ url_for('customer_bp.book_ticket') }}">View Book Movie</a></li>
                <li><a href="{{ url_for('customer_bp.cancel_ticket') }}">Cancel Movie</a></li>
                <li><a href="{{ url_for('customer_bp.booking_history') }}">History</a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="main-content">
            <div class="logout">
                <p>Hi {{ user_name }} |</p>
                <p><a href="/customer_home">Home</a> |</p>
                <p><a href="/index">Logout</a></p>
            </div>
            <div class="login-container">
                <h2>BoxOffice Welcomes You</h2>
                <p>Hello Customer!</p>
            </div>
        </main>
    </div>

    <footer class="footer">
        <p>Copyright www.boxoffice.com</p>
    </footer>
</body>
</html>